{% extends "base.html" %}

{# Load the tag library #}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% block extra_head %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% endblock %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Display tools #}
{% block content %}
<h1>Tools</h1>
<ul>
  <!-- <h2>Articles</h2> -->
    <!-- <li><a href="/utils/upload_articles/">Upload articles</a></li> -->
  <h2>Secondary Market</h2>
    <li><a href="/tools/company/sm_trades">View company SM trades</a></li>
    <li><a href="/tools/buyer_seller/">View Buyer and Seller</a></li>
  <h2>Data</h2>
    <li><a href="/tools/portfolio_valuation/">Generate portfolio valuation</a></li>
    <!-- <li><a href="/utils/company_match/">Match companies from CSV files</a></li> -->
</ul>
{% endblock %}