# git+https://${SEEDRS_BOT_TOKEN}@github.com/ClemLanoe/seedrs-bot.git
git+https://${GITHUB_USER}:${SEEDRS_BOT_TOKEN}@github.com/ClemLanoe/seedrs-bot.git

Django
django-axes
django-bootstrap5
django-csp
django-bootstrap-datepicker-plus
django-debug-toolbar
django-extensions
django-summernote
djangorestframework

# Others
boto3
matplotlib
openpyxl
pandas
python-dotenv
requests
xlsxwriter
drf-yasg
PyPDF2
beautifulsoup4
gunicorn
django-countries
pymysql
