# git+https://${GITHUB_USER}:${SEEDRS_BOT_TOKEN}@github.com/ClemLanoe/seedrs-bot.git

Django==4.1.4
django-axes==5.40.1
django-bootstrap5==22.2
django-csp==3.7
django-bootstrap-datepicker-plus==5.0.3
django-debug-toolbar==3.8.1
django-extensions==3.2.1
django-summernote==0.8.20.0
djangorestframework==3.14.0

# Others
boto3
matplotlib
openpyxl
pandas
python-dotenv
requests
xlsxwriter
drf-yasg
PyPDF2
beautifulsoup4
gunicorn