{% extends "admin/index.html" %}

{% block sidebar %}
{{block.super}}
<h1>Extras</h1>
<ul>
  <!-- <h2>Articles</h2> -->
    <!-- <li><a href="/utils/upload_articles/">Upload articles</a></li> -->
  <h2>Data</h2>
    <li><a href="/utils/dashboard/">View GFM dashboard</a></li>
    <li><a href="/utils/newsletters/">View newsletter data</a></li>
  <h2>Utilities</h2>
    <li><a href="/utils/badges/">Generate badges</a></li>
    <!-- <li><a href="/utils/company_match/">Match companies from CSV files</a></li> -->
</ul>
{% endblock %}